:root {
  --branding-color: #f9f7fe;
  --secondary-color: #6c63ff;
  --text-color: #272142;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
body {
  font-family: "Anton", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 64px;
  font-family: var(--default-font-family);
  color: black;
}
p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  font-family: var(--default-font-family);
  color: var(--text-color);
  opacity: 70%;
}
.hero {
  text-align: center;
  background-color: var(--branding-color);
  padding: 190px 20px;
}
.hero p {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: bold;
  color: var(--text-color);
  margin: 0;
}
.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
  color: var(--text-color);
  margin-top: 0;
  line-height: 1.5;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  color: var(--text-color);
  margin-bottom: 49px;
  margin-top: 24px;
}
.btn-branding {
  padding: 18px 30px;
  border-radius: 4px;
  background-color: var(--secondary-color);
  color: #ffffff;
  font-family: "Poppins";
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
}
.btn-branding-outline {
  padding: 18px 30px;
  border-radius: 4px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 44px;
    line-height: 1.5;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
